/backend/target/
/frontend/node_modules/
/frontend/dist/
/scripts/__pycache__/
/dist/
/ui/
!/ui/
!/ui/.gitkeep
.dbx-repository-signing-key.env
.idea/
.mimosa
.pnpm-store/
bin/
.dbx-dev/
frontend/.pnpm-store/
